<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.threadteam.thread">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/thread"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/thread_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MemberProfileActivity" />
        <activity android:name=".activities.ViewPostDetailsActivity"></activity>
        <activity android:name=".activities.ServerSettingsActivity" />
        <activity android:name=".activities.ViewMembersActivity" />
        <activity android:name=".activities.AddPostActivity" />
        <activity android:name=".activities.PostsActivity" />
        <activity
            android:name=".activities.RegisterActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.notifyActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".activities.EditProfileActivity"
            android:parentActivityName=".activities.ViewProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.ViewProfileActivity" />
        <activity android:name=".activities.ViewServersActivity" />
        <activity
            android:name=".activities.AddServerActivity"
            android:parentActivityName=".activities.ViewServersActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.ChatActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".notifications.ThreadFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".notifications.ThreadFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>